[Desktop Entry]
Type=Application
Name=Text Studio
Comment=Fast, minimalist text editor specially made for Java coding on Linux
Exec=text-studio %F
Icon=io.github.yohoho041_sketch.TextStudio
Categories=Utility;TextEditor;Development;
Terminal=false
StartupNotify=true
MimeType=text/plain;text/x-java;

